 <div class="container">
   <div class="row">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search', name: nil, class: "waves-effect waves-light btn", placeholder: "Username"  %>
      <% end %>
    </div>
   <ul class="collection">
     <% @search_users.each do |users| %>
     <li class="collection-item avatar">
       <img src="<%= users.url%>" alt="" class="circle">
       <a href="/users/<%=users.user_id%>"><span class="title"><%= users.username %></span></a>
       <p><%= users.bio %><br><br>
         Last mood: <%= users.mood %>
       </p>
       <% if current_user.id != users.users_id %>
       <a class="waves-effect waves-light btn secondary-content">Follow</a>
       <% end %>
     </li>
     <% end %>
   </ul>

 </div>
