 <div class="container">
   <div class="row">
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag 'Search', name: nil, class: "waves-effect waves-light btn", placeholder: "Username"  %>
      <% end %>
    </div>
   <ul class="collection">
     <% @search_users.each do |users| %>
     <li class="collection-item avatar">
       <img src="<%= users.url%>" alt="" class="circle">
       <span class="title"><%= users.username %></span>
       <p><%= users.bio %><br>
         Last mood: <%= users.mood %>
       </p>
       <a class="waves-effect waves-light btn secondary-content">Follow</a>
     </li>
     <% end %>
   </ul>

 </div>
