<div class="container">
  <ul class="collection">
    <li class="collection-item" id="new-post">
      <form action="/posts/<%= @post.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="post[title]" value="<%= @post.title %>"/>
        <select class="browser-default" id="category" name="post[category]">
          <option value="" disabled selected>Add Category</option>
          <option value="Mental Health">Mental Health</option>
          <option value="Psychology">Psychology</option>
          <option value="Anxiety disorder">Anxiety disorder</option>
          <option value="Depression">Depression</option>
          <option value="Schizophrenia">Schizophrenia</option>
          <option value="Suicide Prevention">Suicide Prevention</option>
          <option value="Autism Spectrum">Autism Spectrum</option>
          <option value="Eating Disorder">Eating Disorder</option>
          <option value="Other">Other</option>
      </select>
        <textarea class="materialize-textarea" name="post[content]"><%= @post.content %></textarea>
        <input type="hidden" value="<%= current_user.id %>" name="post[user_id]">
        <button type="submit" class="waves-effect waves-light btn">Update Post</button>
         Last Updated On: <%= @post.updated_at.strftime("%m-%d-%Y") %>
      </form>
    </li>
  </ul>
</div>
