<div class="row">
  <div class="collection" id="posts">
    <a href="<%= new_post_path %>" class="collection-item">Add New Article</a>
    <a href="#!" class="collection-item">My Articles</a>
  </div>
  <div class="container">
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search', name: nil, class: "waves-effect waves-light btn", placeholder: "Username"  %>
    <% end %> <br><br><br>
    <ul class="collection">
      <% @post.each do |post| %>
      <li class="collection-item avatar">
        <i class="material-icons circle">chat</i>
        <span class="title"><a href="post/<%= post.posts_id %>"><%= post.title %></a></span>
        <p>~ <%= post.category %><br>
          By: <a href="/users/<%= post.users_id %>"><%= post.username %></a>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
